In [44]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_parquet("/home/soheil/Soheil/lin-python/S/multi/data/output/airbnb/LGBMRegressor//features_store//dfX/features.parquet")

In [49]:
np.where(np.array(df.iloc[0,:]).astype('float32')>0)[0]

<ipython-input-49-1f956df93fd5>:1: RuntimeWarning: invalid value encountered in greater
  np.where(np.array(df.iloc[0,:]).astype('float32')>0)

(array([64, 65, 66, 68, 70]),)

In [51]:
df.columns[np.where(np.array(df.iloc[0,:]).astype('float32')>0)[0]]

<ipython-input-51-1155972f88b7>:1: RuntimeWarning: invalid value encountered in greater
  df.columns[np.where(np.array(df.iloc[0,:]).astype('float32')>0)[0]]

Index(['house_rules_svd_0', 'house_rules_svd_1', 'neighborhood_overview_svd_0',
       'notes_svd_0', 'street_svd_0'],
      dtype='object')

In [48]:
np.array(df.iloc[0,:]).astype('float32')

array([        nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,  0.07226278,
        0.6273951 ,  0.404094  , -0.07225028,  0.23801021, -0.07219424,
        0.99999756, -0.00178607,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan,         nan,
               nan,         nan,         nan,         nan], dtype=float32)

In [5]:
df.head(2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,271739,https://www.airbnb.com/rooms/271739,20181107122246,2018-11-07,"X-Berg: central, quiet, bright, cosy and large","In the heart of Kreuzberg, two minutes from th...",The guest room is 25-m2 in size and is located...,"In the heart of Kreuzberg, two minutes from th...",none,"Hey, it's Kreuzberg :)",...,t,02/Z/AZ/008654-18,NaN,f,f,strict_14_with_grace_period,f,t,2,2.60
1,250067,https://www.airbnb.com/rooms/250067,20181107122246,2018-11-07,Great 2bd apt perfect for a couple,NaN,Enjoy your holidays in Berlin! Our beautiful 2...,Enjoy your holidays in Berlin! Our beautiful 2...,none,NaN,...,t,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,0.04

In [6]:
colnum = [  "review_scores_communication", "review_scores_location", "review_scores_rating"         ]

In [31]:
df['notes'].apply(lambda x: pd.value_counts(x.split(' ')))

AttributeError: 'float' object has no attribute 'split'

In [36]:
df[['house_rules', 
    'neighborhood_overview', 'notes', 
    'street']].apply(str).apply(lambda x: pd.value_counts(x.split(' ')))

,,the,-,out...\n2,10pm,don't,control,NaN\n359,First,"laundry,",...,Germany\n360,Germany\n2,Germany\n359,Germany\n4,"street,",Germany\n3,Germany\n358,Germany\n361,Germany\n1,Germany\nName:
house_rules,229.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighborhood_overview,249.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
notes,255.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
street,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [38]:
pd.concat((df[['house_rules']],df[['notes']]),axis=1)

,house_rules,notes
0,First Rule: Have Fun! Beside that: Please don'...,The room / apartment is located in the rear ho...
1,There's a lot of cool clubs and bars to go out...,NaN
2,***Illegal file-sharing is strictly forbidden!...,NaN
3,NaN,Spend favorite district of Berliners to a free...
4,- NO SMOKING! (inside the flat) - After 10pm p...,- Bitte Pass/ID-Card zu Check-in mitbringen/pl...
...,...,...
357,"Payment for laundry, cleaning etc. before Chec...",Please mind the cat! ;)
358,NaN,For privately motivated stays the Senate of Be...
359,"Be nice, keep noise under control (we don't wa...",City of Berlin has put in place new rules and ...
360,NaN,NaN
361,Before booking please accept the 'all must fel...,Everything is included in the price - no extra...

In [39]:
df[['house_rules']].concat(df[['notes']])

AttributeError: 'DataFrame' object has no attribute 'concat'